framework: >= net45
source https://nuget.org/api/v2

nuget FAKE
nuget FSharp.Formatting
nuget MBrace.Core
nuget MBrace.Flow
nuget MBrace.Runtime
nuget MBrace.Thespian
nuget MBrace.Azure ~> 1.4.0
nuget MBrace.Azure.Management
nuget MBrace.AWS
