source https://nuget.org/api/v2

nuget FAKE
nuget FSharp.Formatting prerelease
nuget MBrace.Core prerelease
nuget MBrace.Flow prerelease
nuget MBrace.Runtime prerelease
nuget MBrace.Thespian prerelease
nuget MBrace.Azure 0.14.0-beta