source https://nuget.org/api/v2

nuget FAKE
nuget FSharp.Formatting prerelease
nuget MBrace.Core
nuget MBrace.Flow
nuget MBrace.Runtime
nuget MBrace.Thespian
nuget MBrace.Azure 1.1.21
nuget MBrace.Azure.Management
